:root {
  --purple1: #0c0032;
  --purple2: #190061;
  --purple3: #240090;
  --purple4: #3500d3;
  --black1: #282828;
  --white1: rgb(255, 255, 255);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--white1);
  width: 100vw;
  text-align: center;
  overflow-x: hidden;
  font-family: "Courier New", Courier, monospace;
}
.sections {
  min-height: 100vh;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section-1 {
  background-image: url("../assets/fuji-mountain-with-milky-way-night.jpg");
  position: relative;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
#section-2 {
  background-image: url("../assets/3d-render-flowing-particles-modern-techno-design.jpg");
  position: relative;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
#section-3 {
  background-image: url("../assets/balloons-arrangement-with-purple-background.jpg");
  position: relative;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
#section-4 {
  background-image: url("../assets/green-technology-white-light-lines-patern.jpg");
  position: relative;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.headline-1-img {
  max-height: 7rem;
}
.headline-1-text {
  font-weight: 600;
}
.about {
  font-size: 1.6rem;
  text-align: left;
  font-weight: 600;
}
.space {
  height: 2vh;
}
