* {
  border: 0%;
  margin: 0%;
  box-sizing: border-box;
}
section {
  background-image: radial-gradient(circle, #26677a, #194350);
  display: flex;
  justify-content: space-around;
  padding: 17vh 0vh;
  height: 100vh;
}
h1 {
  color: #ff584f;
  text-shadow: 0 0 10px#d2fff8;
  font-size: 60px;
}
p {
  text-align: center;
  padding: 3vh 0vh;
  font-size: 25px;
  color: #ff635b;
}
.image {
  position: absolute;
  bottom: 0%;
  width: 100vw;
}
img {
  height: 600px;
  width: auto;
  transform: translate(25%);
}
