.fab {
  color: white;
  transition: all 0.5s;
}
.fa-linkedin-in {
  background-color: #0e76a8;
}
.fa-github {
  background-color: #333;
}
.fa-facebook {
  background-color: #3b5998;
}
.fa-instagram {
  background-color: #bc2a8d;
}
.fa-github:hover,
.fa-linkedin-in:hover,
.fa-facebook:hover,
.fa-instagram:hover {
  cursor: pointer;
  background: transparent;
  transform: scale(1.5);
}
.contact {
  position: relative;
  width: 100vw;
  background-image: linear-gradient(
    121deg,
    var(--oxford-blue) 0%,
    var(--oxford-blue) 70%,
    var(--dartmouth-green) 70%,
    var(--dartmouth-green) 90%,
    var(--oxford-blue) 90%,
    var(--oxford-blue) 100%
  );
}
.con-wrapper {
  position: relative;
  display: grid;
  width: 90%;
  margin: auto;
  grid-template-columns: 1fr 1fr;
}
.text-area {
  margin: 4rem 3rem;
  color: var(--lavender-blush);
}
.con-title {
  font-size: 3rem;
  font-weight: 700;
  margin: 1.5rem auto 0rem auto;
}
.con-title i {
  color: var(--electric-blue);
}
.con-desc {
  font-size: 1.5rem;
  margin: 0rem auto 1rem auto;
}
.info {
  text-align: center;
}
.mail-icon {
  font-size: 2rem;
  margin-right: 1rem;
}
.mail {
  color: inherit;
  font-size: 2rem;
  font-weight: 200;
  text-shadow: 0.1rem 0.1rem 0.1rem var(--lavender-blush);
  transition: all 0.2s ease-in;
  text-decoration: none;
}
.mail:hover {
  text-shadow: none;
}
.con-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2rem auto 2rem auto;
}
.con-icons li {
  list-style: none;
}
.con-icons a {
  display: flex;
  flex-direction: column;
  color: inherit;
  text-decoration: none;
}
.con-icons i {
  font-size: 2rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin: auto auto;
  text-align: center;
  line-height: 3rem;
  transition: all 0.6s ease-in-out;
}
.mail-gif {
  margin: 4rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gif {
  position: relative;
  width: 60%;
  height: auto;
  margin: auto auto;
  animation: mov 2.5s ease-in-out 0s infinite forwards;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: var(--electric-blue) 0rem 0rem 1rem;
}
@keyframes mov {
  0% {
    bottom: 0;
    transform: scale(1);
  }

  50% {
    bottom: 30px;
    transform: scale(1.1);
  }

  100% {
    bottom: 0;
    transform: scale(1);
  }
}
.foot {
  position: absolute;
  bottom: 0px;
  left: 50%;
  font-size: 1.2rem;
  transform: translateX(-50%);
  color: var(--lavender-blush);
  background-color: black;
  padding: 0rem 4rem;
  text-align: center;
  width: 60%;
}
/* 1060px */
@media only screen and (max-width: 1060px) {
  .mail-gif,
  .gif {
    display: none;
  }
  .con-wrapper {
    width: 90%;
    grid-template-columns: 1fr;
    text-align: center;
  }
  .text-area {
    margin: auto;
    margin-bottom: 4rem;
  }
  .foot {
    margin: auto;
  }
}
/* 768px */
@media only screen and (max-width: 768px) {
  .contact {
    height: max-content;
  }
  .foot {
    font-size: 1rem;
  }
  .con-title {
    font-size: 2.5rem;
  }
  .con-desc {
    font-size: 1.6rem;
    margin: 1.3rem auto 1.3rem auto;
  }
  .mail {
    font-size: 1.4rem;
  }
  .mail-icon {
    font-size: 1.5rem;
  }
  .con-icons i {
    font-size: 1rem;
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
  }
  .foot {
    width: 100%;
  }
}
/* 560px */
@media (max-width: 560px) {
  .con-desc {
    margin: 2rem auto 1.5rem auto;
  }
}
