@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;600&display=swap");
/* San Serif Font
* font-family: 'Catamaran', sans-serif;
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
/* DISPLAY FONT
* font-family: 'Poppins', sans-serif;
*/
/* TEXT GRADIENT
* background: -webkit-linear-gradient(#eee, #333);
* -webkit-background-clip: text;
* -webkit-text-fill-color: transparent;
*/
:root {
	--yellow: #fcde67;
	--blue: #5bccf6;
	--black: #030e12;
	--dark-blue: #191970;
	--orange: #f7941d;
	--white: #f9fef7;
	--text: "Catamaran", sans-serif;
	--pop: "Poppins", sans-serif;
}
* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
	font-family: var(--text);
}
html {
	-ms-overflow-style: none;
	scrollbar-width: none;
	scroll-behavior: smooth;
}
html::-webkit-scrollbar {
	display: none;
}
html,
body {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	overflow-x: hidden;
	background-color: var(--yellow);
}
body {
	width: 100vw;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.nav-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: max-content;
	background-color: var(--black);
	z-index: 2;
}
nav {
	width: 88%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.3rem 0rem;
}
nav img {
	width: 7rem;
	height: auto;
	display: inline-block;
}
.fab {
	color: white;
	transition: all 0.5s;
}
.fa-linkedin-in {
	background-color: #0e76a8;
}
.fa-github {
	background-color: #333;
}
.fa-facebook {
	background-color: #3b5998;
}
.fa-instagram {
	background-color: #bc2a8d;
}
.fa-heart {
	color: red;
}
.fa-github:hover,
.fa-linkedin-in:hover,
.fa-facebook:hover,
.fa-instagram:hover {
	cursor: pointer;
	background: transparent;
	transform: scale(1.5);
}
.icon-list {
	list-style: none;
	display: flex;
	justify-content: space-evenly;
}
.icon-list li {
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0rem 1rem;
}
.icon-list i {
	font-size: 1.2rem;
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
	margin: auto auto;
	text-align: center;
	line-height: 2rem;
}
.nav-list {
	list-style: none;
	display: flex;
	justify-content: space-evenly;
}
.nav-list li {
	color: var(--blue);
	font-family: var(--pop);
	font-size: 1.2rem;
	font-weight: 600;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0rem 1rem 0rem 0rem;
	opacity: 0.5;
}
.nav-list li:hover,
.nav-list li:focus,
.nav-list li:active {
	opacity: 1;
	outline: 0;
}
.nav-list a {
	color: inherit;
	font: inherit;
	text-decoration: none;
}

.side-nav-list {
	position: fixed;
	top: 55%;
	left: 0%;
	transform: translate(0%, -50%);
	list-style: none;
	display: flex;
	flex-direction: column;
	z-index: 2;
	justify-content: space-evenly;
	animation: side-nav-fade-in 0.2s linear;
}
.side-nav-list li {
	position: relative;
	color: var(--black);
	font-family: var(--pop);
	font-size: 0.7rem;
	font-weight: 400;
	margin: auto;
	display: flex;
	padding: 0.5rem 0rem;
	margin: 0.5rem 1rem;
	transition: padding-left 0.6s ease-in-out;
}
.side-nav-list li:after {
	opacity: 1;
	content: "";
	display: block;
	width: 4.5rem;
	height: 2px;
	background: rgb(155, 0, 0);
	position: absolute;
	bottom: 0%;
}
.side-nav-list li:hover,
.side-nav-list li:focus,
.side-nav-list li:active {
	padding-left: 1rem;
	color: rgb(155, 0, 0);
	outline: 0;
}
.side-nav a {
	color: inherit;
	font: inherit;
	text-decoration: none;
}
@keyframes side-nav-fade-in {
	0% {
		transform: translate(-10%, -50%);
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: translate(0%, -50%);
	}
}
