/* 1200px */
@media (max-width: 1200px) {
	.home {
		flex-direction: column;
		padding-top: 3rem;
	}
	.container {
		padding: 2rem 4rem;
	}
	.des {
		align-items: center;
		text-align: center;
	}
	.grad-line {
		width: 80%;
		margin: auto;
	}
	.intro {
		margin: 2rem auto;
	}
	.my-img {
		width: 20rem;
	}
	.img {
		margin-top: 4rem;
		justify-content: center;
	}
}
/* 1144px */
@media (max-width: 1144px) {
	.nav {
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
	.nav-list {
		order: 3;
	}
	.home {
		padding-top: 5rem;
	}
}
/* 768px */
@media (max-width: 768px) {
	.sec {
		width: 90%;
	}
	.container {
		padding: 2rem 0rem;
	}
	.my-img {
		width: 18rem;
	}
	.intro {
		margin-top: 1rem;
	}
}
/* 680px */
@media (max-width: 680px) {
	.nav-list {
		font-size: 1.3rem;
	}
	.grad-head {
		font-size: 3rem;
	}
	.intro {
		font-size: 1.2rem;
	}
}
/* 500px */
@media (max-width: 500px) {
	.nav {
		font-size: 1.2rem;
		flex-direction: column;
		width: 100%;
	}
	.nav-list {
		font-size: 1rem;
		flex-wrap: wrap;
	}
	.icon-list i {
		font-size: 1rem;
		height: 1.5rem;
		width: 1.5rem;
		line-height: 1.5rem;
	}
	.icon-con i {
		font-size: 2rem;
		height: 3rem;
		width: 3rem;
		line-height: 3rem;
	}
	.grad-head {
		font-size: 2.7rem;
	}
	.intro {
		font-size: 1rem;
	}
	.my-img {
		width: 15rem;
	}
	.home {
		padding-top: 4rem;
	}
}
/* 400px */
@media (max-width: 400px) {
	.grad-head {
		font-size: 2.5rem;
	}
	.my-img {
		width: 13rem;
	}
	.home {
		padding-top: 5rem;
	}
	.icon-list {
		flex-wrap: wrap;
	}
}
