.project {
	padding: 5rem 0rem 0rem 0rem;
	background-color: var(--blue);
}
.cards {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 5rem 0rem 2rem 0rem;
}

.card {
	border: 2px solid var(--yellow);
	background-color: var(--black);
	margin: 1rem 2rem;
	width: 30%;
	border-radius: 7px;
	padding: 1rem 1rem;
	transition: all 0.5s;
}

.card:hover {
	box-shadow: 2px 2px 15px rgb(61, 104, 114, 0.6),
		-1px -1px 10px rgba(0, 0, 0, 1);
	transform: scale(1.1);
}

h3 {
	font-family: var(--pop);
	text-align: center;
	color: var(--yellow);
	text-align: left;
	font-size: 2rem;
}

.stack {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 1rem 0;
	background-color: #1919702c;
}

.stack img {
	width: 3rem;
	padding: 0.5rem;
}
.pr-desc {
	color: var(--white);
	font-family: var(--text);
	text-align: left;
	margin: 1rem 0rem 0rem 0rem;
}
/* 1000px */
@media (max-width: 1000px) {
	.cards {
		justify-content: space-evenly;
	}
	.card {
		margin: 0rem 0rem;
		width: 40%;
	}
}
/* 768px */
@media (max-width: 768px) {
	.cards {
		flex-direction: column;
	}
	.card {
		margin: 1rem 0rem;
		width: 55%;
	}
}
/* 640px */
@media (max-width: 640px) {
	.card {
		width: 70%;
	}
}
/* 500px */
@media (max-width: 500px) {
	.card {
		width: 80%;
	}
}
/* 400px */
@media (max-width: 400px) {
	.card {
		width: 90%;
	}
	h3 {
		font-size: 170%;
	}
	.stack img {
		width: 3.5rem;
	}
	.pr-desc {
		font-size: 90%;
	}
}
