/* TEXT GRADIENT
* background: -webkit-linear-gradient(#eee, #333);
* -webkit-background-clip: text;
* -webkit-text-fill-color: transparent;
*/
.container {
	width: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
}
.sec {
	width: 100%;
	min-height: 100vh;
	margin: auto;
	position: relative;
}
.fader {
	transition: opacity 0.5s ease-in, transform 1s ease-in-out;
	opacity: 0;
}
.fade-L {
	transform: translate(-50%, 0%);
}
.fade-R {
	transform: translate(50%, 0%);
}
.fader.appear {
	opacity: 1;
	transform: translate(0%, 0%);
}
.divider {
	width: 80%;
	margin: auto;
	position: relative;
}
.heading {
	color: var(--black);
	font-size: calc(0.5rem + 8vmin);
	font-family: var(--pop);
	position: relative;
}
.heading:before {
	content: "";
	display: block;
	width: calc(15rem + 9vmin);
	height: 7px;
	top: 50%;
	left: 0%;
	transform: translate(-105%, -50%);
	background: #191970;
	position: absolute;
}
.heading:after {
	content: "";
	display: block;
	width: calc(15rem + 9vmin);
	height: 7px;
	top: 50%;
	right: 0%;
	transform: translate(105%, -50%);
	position: absolute;
	background: #191970;
}
.head-left {
	width: 100%;
	text-align: right;
	color: var(--black);
	font-size: calc(0.5rem + 8vmin);
	font-family: var(--pop);
	position: relative;
	font-weight: 600;
}
.head-left:before {
	content: "";
	display: block;
	width: 59%;
	height: 7px;
	top: 50%;
	left: 0%;
	transform: translate(0%, -50%);
	background: #191970;
	position: absolute;
}
.head-right {
	width: 100%;
	text-align: left;
	color: var(--black);
	font-size: calc(0.5rem + 8vmin);
	font-family: var(--pop);
	font-weight: 600;
	position: relative;
}
.head-right::after {
	content: "";
	display: block;
	width: 59%;
	height: 7px;
	top: 50%;
	right: 0%;
	transform: translate(0%, -50%);
	position: absolute;
	background: #191970;
}
.para {
	font-size: calc(0.5rem + 2vmin);
	font-weight: 600;
	font-family: var(--text);
	text-align: left;
	z-index: 1;
}
.home {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.hand {
	position: absolute;
	height: 25rem;
	bottom: 0%;
	right: 5%;
	z-index: 0;
}
.intro {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding: 2rem 0rem;
}
.home .para {
	padding: 1rem 0rem;
}
.buts {
	display: flex;
	padding: 1rem 0rem;
}
.button {
	position: relative;
	padding: 0.5rem 1rem;
	color: var(--black);
	text-decoration: none;
	background: var(--blue);
	margin: 0rem 2rem;
	font-size: 1.2rem;
	font-family: var(--pop);
	font-weight: 600;
	border-radius: 7px;
	border: var(--black) 2px solid;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
		border 0.3s ease-in-out;
}
.button:hover {
	color: var(--blue);
	background-color: var(--black);
	border: var(--blue) 2px solid;
}
.button:active {
	transform: scale(0.98);
}
.about {
	padding: 5rem 0rem 2rem 0rem;
	background-color: var(--blue);
}
.list {
	list-style: none;
	padding: 2rem 0rem 2rem 4rem;
}
.list-item {
	position: relative;
}
.list-item .para {
	padding: 0.7rem 0rem;
}
.list-item::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 3rem;
	height: 3rem;
	background-image: url("./images/15_Backhandindexpointingright04.png");
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: -55px;
	margin-top: 20px;
}
.skills {
	padding: 5rem 0rem 2rem 0rem;
	background-color: var(--orange);
	color: var(--white);
}
.skills .para {
	text-align: right;
}
.phone {
	width: 27rem;
	position: absolute;
	top: 60%;
	right: -7%;
	transform: translate(0%, -50%);
	transform-origin: bottom center;
	animation: phone-move 4s ease-in-out infinite;
}
@keyframes phone-move {
	0% {
		transform: translate(0%, -50%) rotate(5deg);
	}
	50% {
		transform: translate(0%, -50%) rotate(-5deg);
	}
	100% {
		transform: translate(0%, -50%) rotate(5deg);
	}
}
.tech {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: var(--black);
	border: var(--blue) 2px solid;
	border-radius: 40px;
	box-shadow: #191970 10px 10px 20px, var(--blue) 0px 0px 20px;
	padding: 2rem;
	width: 70%;
	margin: 3rem 0rem 6rem 0rem;
}
.tech-item {
	width: 5rem;
	height: auto;
	margin: 2rem 1rem;
	padding: 1rem;
	transition: transform 0.2s ease-in, filter 0.2s ease-in;
}
.tech-item:hover {
	cursor: pointer;
	transform: scale(1.3);
}
.contact {
	padding: 5rem 0rem 5rem 0rem;
}
.con-info {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}
.contact .para {
	margin: 2rem 0rem;
}
.thumb {
	position: absolute;
	width: 23rem;
	left: 0%;
	top: 40%;
	transform: translate(-15%, -50%);
	transform-origin: left center;
}
.victory {
	position: absolute;
	width: 13rem;
	bottom: 0%;
	right: 0%;
}
.mail {
	text-align: center;
	text-decoration: none;
	color: var(--yellow);
	font-family: var(--pop);
	font-size: 2rem;
}
.mail:hover {
	text-shadow: #191970 10px 10px 20px, var(--blue) 0px 0px 20px;
	transform: scale(1.1);
	cursor: pointer;
}
.con-list {
	list-style: none;
	background-color: var(--dark-blue);
	padding: 2rem;
	border-radius: 12px;
}
.con-list i {
	font-size: 2rem;
	height: 3rem;
	width: 3rem;
	line-height: 3rem;
}
footer {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	font-family: var(--pop);
	font-size: 1rem;
	font-weight: 600;
}
