@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;600&display=swap");
/* San Serif Font
* font-family: 'Catamaran', sans-serif;
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
/* DISPLAY FONT
* font-family: 'Poppins', sans-serif;
*/
/* TEXT GRADIENT
* background: -webkit-linear-gradient(#eee, #333);
* -webkit-background-clip: text;
* -webkit-text-fill-color: transparent;
*/
:root {
	--pink-lace: rgba(240, 211, 247, 1);
	--cadet-blue: rgba(99, 159, 171, 1);
	--dark-cadet-blue: rgb(61, 104, 114);
	--rich-black-fogra-29: rgba(7, 16, 19, 1);
	--light-rich-black-fogra-29: rgb(13, 30, 36);
	--light-coral: rgba(255, 107, 108, 1);
	--russian-violet: rgba(18, 13, 49, 1);
	--white: #f9fef7;
	--text: "Catamaran", sans-serif;
	--pop: "Poppins", sans-serif;
}
* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}
html {
	-ms-overflow-style: none;
	scrollbar-width: none;
	scroll-behavior: smooth;
}
html::-webkit-scrollbar {
	display: none;
}
a {
	cursor: pointer;
}
html,
body {
	background-color: var(--rich-black-fogra-29);
	overflow-x: hidden;
	position: relative;
	width: 100vw;
}
.container {
	width: 85%;
	margin: auto;
	padding-top: 9rem;
	padding-bottom: 4rem;
}
/*TO THE TOP BUTTON*/
#myBtn {
	display: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 99;
	border: 0.2rem var(--cadet-blue) solid;
	background-color: var(--rich-black-fogra-29);
	outline: none;
	color: var(--cadet-blue);
	cursor: pointer;
	padding: 0.7rem;
	font-size: 1.2rem;
	border-radius: 15px;
}
#myBtn:hover {
	background-color: var(--cadet-blue);
	color: var(--rich-black-fogra-29);
	border: 0.2rem var(--cadet-blue) solid;
}

.fab {
	color: white;
	transition: background 0.5s, transform 0.5s;
}
.fa-linkedin-in {
	background-color: #0e76a8;
}
.fa-github {
	background-color: #333;
}
.fa-facebook {
	background-color: #3b5998;
}
.fa-instagram {
	background-color: #bc2a8d;
}
.fa-heart {
	color: red;
}
.fa-github:hover,
.fa-linkedin-in:hover,
.fa-facebook:hover,
.fa-instagram:hover {
	cursor: pointer;
	background: transparent;
	transform: scale(1.5);
}
.grad-head {
	background-image: linear-gradient(
		var(--light-coral) 0%,
		var(--light-coral) 55%,
		var(--pink-lace) 70%,
		var(--pink-lace) 100%
	);
	font-family: var(--pop);
	font-size: 3.5rem;
	font-weight: 600;
	-webkit-background-clip: text;
	background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	display: inline-block;
}
.para {
	font-family: var(--text);
	color: var(--pink-lace);
	font-size: 1.4rem;
}
.icons {
	font-size: 3rem;
	display: inline;
}
.grad-line {
	width: 10rem;
	height: 0.5rem;
	margin-bottom: 1rem;
	background-image: repeating-linear-gradient(
		45deg,
		var(--light-coral),
		var(--pink-lace),
		var(--cadet-blue)
	);
	border-radius: 20rem;
	border: none;
}
.sec {
	margin-top: 2rem;
	padding-top: 2rem;
}
