/* NAVIGATION */
.nav {
	background-color: rgba(7, 16, 19, 1);
	color: whitesmoke;
	width: 88%;
	top: 0%;
	left: 50%;
	transform: translate(-50%, 0%);
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 99;
	font-family: var(--pop);
	font-weight: 600;
	font-size: 1.2rem;
	padding: 0.3rem 0rem;
}
.brand {
	width: 7rem;
	height: auto;
	display: inline-block;
}
.nav-list {
	list-style: none;
	display: flex;
	justify-content: space-evenly;
}
.nav-list li {
	background: -webkit-linear-gradient(var(--pink-lace), var(--cadet-blue));
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0rem 1rem 0rem 0rem;
	opacity: 0.5;
}
.nav-list li:hover,
.nav-list li:focus,
.nav-list li:active {
	opacity: 1;
	outline: 0;
}
.nav a {
	text-decoration: none;
	cursor: pointer;
}
.icon-list {
	list-style: none;
	display: flex;
	justify-content: space-evenly;
}
.icon-list li {
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem 1rem;
}
.icon-list i {
	font-size: 1.2rem;
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
	margin: auto auto;
	text-align: center;
	line-height: 2rem;
	transition: all 0.6s ease-in-out;
}
/* NAVIGATION END */
.home {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem 2rem;
}
.des {
	position: relative;
}
.intro {
	margin: 1rem auto 3rem auto;
}
.img {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.my-img {
	width: 20rem;
	height: auto;
	border: var(--cadet-blue) 2px solid;
	border-radius: 50%;
	background-color: rgba(18, 13, 49, 0.5);
}
.buts {
	padding: 0.3rem 4rem;
	border: var(--cadet-blue) 2px solid;
	text-decoration: none;
	border-radius: 2rem;
	font-weight: 600;
	position: relative;
	transition: margin-left 0.3s ease-in, background-color 0.3s ease-in,
		color 0.3s ease-in;
}
.buts:hover {
	background-color: var(--cadet-blue);
	color: var(--rich-black-fogra-29);
	margin-left: 1rem;
}
.list {
	margin: 2rem auto 2rem auto;
	list-style-type: "\1F680";
}
.list > li {
	margin: 1.5rem auto 0rem auto;
}
.tech {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.tech-item {
	width: 60px;
	margin: 30px 20px;
	filter: grayscale(100%);
	transform: rotate(-10deg);
	transition: transform 0.3s ease-in, filter 0.3s ease-in;
}

.tech-item:hover {
	filter: grayscale(0%);
	cursor: pointer;
	transform: scale(1.3) rotate(0deg);
}
.contact {
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	gap: 1rem 1rem;
}
.mail {
	text-align: center;
	text-decoration: none;
	color: var(--cadet-blue);
	font-family: var(--pop);
	font-size: 1.5rem;
}
.mail:hover,
.mail:focus {
	text-shadow: #191970 10px 10px 20px, var(--dark-cadet-blue) 0px 0px 20px;
	transform: scale(1.1);
	cursor: pointer;
	outline: 0;
}
.con-list {
	list-style: none;
	background-color: var(--light-rich-black-fogra-29);
	padding: 2rem;
	margin-bottom: 1rem;
	border-radius: 12px;
}
.con-list i {
	font-size: 1.7rem;
	height: 2.5rem;
	width: 2.5rem;
	line-height: 2.5rem;
}
.ilus {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.ilustration {
	position: absolute;
	bottom: 0%;
	left: 10%;
	transform: translate(0%, 0%);
	width: 72%;
	height: auto;
	transform-origin: bottom center;
	animation: phone-move 3s cubic-bezier(0.6, -0.28, 0.735, 0.045) infinite;
}
@keyframes phone-move {
	0% {
		transform: rotate(-10deg);
	}
	50% {
		transform: rotate(10deg);
	}
	100% {
		transform: rotate(-10deg);
	}
}
footer {
	width: 85%;
	position: absolute;
	bottom: 2px;
	text-align: center;
	font-size: 1rem;
	color: var(--pink-lace);
	margin: 0.5rem auto;
}
footer a {
	color: var(--light-coral);
	text-decoration: none;
}
