.cards {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 1.5rem 0rem 2rem 0rem;
}

.card {
	border: 5px solid var(--cadet-blue);
	background-color: var(--dark-cadet-blue);
	margin: 1.5rem 1.5rem;
	width: 40%;
	border-radius: 7px;
	padding: 1rem 1rem;
	transition: all 0.5s;
}

.card:hover {
	box-shadow: 2px 2px 15px rgb(61, 104, 114, 1), -1px -1px 10px rgba(0, 0, 0, 1);
	transform: scale(1.1);
	cursor: pointer;
}

h3 {
	font-family: var(--pop);
	text-align: center;
	color: var(--light-coral);
	text-align: left;
	font-size: 2rem;
}

.stack {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 1rem 0;
	background-color: rgba(18, 13, 49, 0.7);
}

.stack img {
	width: 3rem;
	padding: 0.5rem;
}
.pr-desc {
	color: var(--pink-lace);
	font-family: var(--text);
	text-align: left;
	margin: 1rem 0rem 0rem 0rem;
}
/* 1000px */
@media (max-width: 1000px) {
	.cards {
		justify-content: space-evenly;
	}
	.card {
		margin: 1rem 0rem;
	}
}
/* 768px */
@media (max-width: 768px) {
	.cards {
		flex-direction: column;
		align-items: center;
		margin: 3rem 0rem 1rem 0rem;
	}
	.card {
		margin: 1rem 0rem;
		width: 80%;
	}
	.card:hover {
		transform: scale(1);
	}
}
/* 640px */
@media (max-width: 640px) {
	.card {
		width: 90%;
	}
}
/* 500px */
@media (max-width: 500px) {
	.cards {
		margin: 2rem 0rem 1rem 0rem;
	}
	.card {
		width: 95%;
	}
}
/* 400px */
@media (max-width: 400px) {
	h3 {
		font-size: 170%;
	}
	.stack img {
		width: 3.5rem;
	}
	.pr-desc {
		font-size: 90%;
	}
}
