.cards {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	margin: 1.5rem 0rem 2rem 0rem;
	gap: 1.5rem;
}

.card {
	border: 5px solid var(--cadet-blue);
	background-color: var(--dark-cadet-blue);
	width: 90%;
	margin: auto;
	height: 100%;
	border-radius: 7px;
	padding: 1rem 1rem;
	transition: all 0.5s;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}
.cover {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	transition: top 0.5s;
}
.git {
	opacity: 0;
	color: var(--cadet-blue);
	position: relative;
}
.git i {
	font-size: 2rem;
}
.disable {
	pointer-events: none;
	color: var(--dark-cadet-blue);
}
.card:hover {
	box-shadow: 2px 2px 15px rgb(61, 104, 114, 1), -1px -1px 10px rgba(0, 0, 0, 1);
}
.card:hover .cover {
	background-color: rgba(7, 16, 19, 0.7);
	top: 0;
}
.card:hover .git {
	opacity: 1;
}
h3 {
	font-family: var(--pop);
	text-align: center;
	color: var(--light-coral);
	text-align: left;
	font-size: 2rem;
}

.stack {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 1rem 0;
	background-color: rgba(18, 13, 49, 0.7);
}

.stack img {
	width: 3rem;
	padding: 0.5rem;
}
.pr-desc {
	color: var(--pink-lace);
	font-family: var(--text);
	text-align: left;
	margin: 1rem 0rem 0rem 0rem;
}
/* 1000px */
@media (max-width: 1000px) {
	.cards {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, 1fr);
	}
	.card {
		width: 70%;
	}
}
/* 768px */
@media (max-width: 768px) {
	.card:hover {
		transform: scale(1);
	}
}
/* 640px */
@media (max-width: 640px) {
	.card {
		width: 90%;
	}
}
/* 500px */
@media (max-width: 500px) {
	.cards {
		margin: 2rem 0rem 1rem 0rem;
	}
}
/* 400px */
@media (max-width: 400px) {
	h3 {
		font-size: 170%;
	}
	.stack img {
		width: 3rem;
	}
	.pr-desc {
		font-size: 90%;
	}
	.card {
		width: 95%;
	}
}
